body {
    background-image: url(images/circuit.png)
}

.wrapper {
    width: 960px;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
    background-color: #ffffff;
}

#myName {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 76px;
    width: 270px;
}

.nav-link {
    font-size: 18px;
    color: #777777;
    padding-top: 10px;
}

main {
    background-color: #ffffff;
}

#aboutMe, #portfolioHeader, #contactHeader {
    color: #4aaaa5;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd;
    font-weight: bold;
}

.navSeparator {
    margin-top: 10px;
}

.rowSpacer {
    margin-top: 25px;
}

.rowMargin {
    margin-left: 10px;
}

#portrait {
    width: 200px;
    height: 200px;
    margin: 0px 25px 10px 25px;
    float: left;
}

.paragraph {
    line-height: 2;
    text-align: left;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.paragraphSpacer {
    margin-left: 25px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 225px;
    z-index: 1;
    text-align: center;
}

.placeholderText {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px 10px 20px 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%; 
}

form {
    margin: 25px 0px 0px 25px;
}

.inputSpacing {
    margin-bottom: 20px;
    width: 97.5%;
}

textarea {
    height: 150px;
}


main {
    min-height: calc(100vh - 70px);
    padding-bottom: 20px;
}

footer {
    height: 50px;
    width: 100%;
    background: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    margin-top: 50px;
    margin-bottom: 0px;
}